fieldset {
  border-color: var(--border-color);
  background-color: var(--background-panel-color);
}

hr {
  font-size: 0;
  margin: 15px;
  border: 0;
  height: 1px;
  background: var(--border-color);
}

a {
    color: var(--link-color)
}

a:hover {
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-color);
}

pre {
  background-color: var(--background-panel-color);
}

input[type="text"],
input,
select,
option,
textarea {
  background-color: var(--input-background-color);
  color: var(--text-color);
  border-color: var(--border-color);
}

input[type="checkbox"] {
  border-color: var(--border-color);
}

button:disabled {
  background-color: var(--input-background-color);
  color: var(--text-color);
}