@import '../mixins/themify.scss';

#basic-images.dropzone, .vue-dropzone {
  padding: 1em*4 !important;
  width: 100%;
  border-radius: 5px;
  border-style: dashed;
  border-color: var(--primary-color);

  .dz-details, span {
    cursor: pointer;
  }

  color: var(--text-color);
  background-color: var(--input-background-color);
}

.dz-default {
  font-weight: 300 !important;
  font-size: 1.5em;
  color: var(--text-color);
}
