.box-spinner {
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2);
  background-image: none !important;
  background-color: var(--background-panel-color);
  z-index: 999999;
  height: 100%;

  &__legend {
    color: var(--text-color);
    text-align: center;
  }
}

.tw-spinner {
  font-size: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;

  svg {
      display: block;
      position: relative;
      width: 30px;
      height: 30px;
      margin: 0px auto;
  }

  #Tail {
    opacity: 0;
    animation: tail 2s ease infinite;
    fill: var(--spinner-tail-color);
  }

  #LeftBottom {
    fill: var(--spinner-left-bottom-color);
    opacity: 0;
    animation: spinner 1s ease alternate infinite;
    animation-delay: 0s;
  }

  #LeftMid {
    fill: var(--spinner-left-mid-color);
    opacity: 0;
    animation: spinner 1s ease alternate infinite;
    animation-delay: 0.2s;
  }

  #LeftTop {
    fill: var(--spinner-left-top-color);
    opacity: 0;
    animation: spinner 1s ease alternate infinite;
    animation-delay: 0.4s;
  }

  #Head {
    fill: var(--spinner-head-color);
    opacity: 0;
    animation: spinner 1s ease alternate infinite;
    animation-delay: 0.6s;
  }
  
  @keyframes spinner {
    0% { opacity: 0; }
    30% { opacity: 0; }
    90% { opacity: 1; }
    100% { opacity: 1; }
  }

  @keyframes tail {
    0% { opacity: 0; }
    30% { opacity: 1; }
    50% { opacity: 1; }
    90% { opacity: 0; }
    100% { opacity: 0; }
  }  
}
