.tablesorter {
  width: 100%;
}
table {
  // box-shadow: 0 0 2px 0 tw-color('navigationBorder');
  width: auto;
  border-spacing: 0;
  background-color: var(--background-panel-color);
  border-collapse: collapse;

  .underlined_elements {
      border-spacing: 0; 
  }

  .top_align_text {
    td {
      vertical-align: top; 
    }
  }

  th.headerSortUp { 
    background-image: var(--icon-arrow-up);
    background-position: right tw-whitespace('default') center;
    padding-right: tw-whitespace('default');
    background-repeat: no-repeat;
  } 

  th.headerSortDown { 
    background-image: var(--icon-arrow-down);
    background-position: right tw-whitespace('default') center;
    padding-right: tw-whitespace('default');
    background-repeat: no-repeat;  
  }

  th {
      background-color: var(--background-panel-color);
  }

  .table-options {
    display: none;
  }
  .even {
    background-color: var(--table-row-even);

  }
  .odd {
    background-color: var(--table-row-odd)
  }

  td {
    padding-left: tw-whitespace('default');
    padding-right: tw-whitespace('default');
    border-bottom: 1px solid var(--border-color);
  }

  th:hover {
    background-color: var(--hover);
  }

  tr {
    margin: 0px;
    height: 40px;
    cursor: pointer;
  }

  th {
    background-color: var(--background-panel-color);
    padding-left: tw-whitespace('default');
    padding-right: tw-whitespace('default');
    font-weight: 500;
    font-size: 12px;
    border-bottom: 2px solid var(--border-color);
    text-align: left;

    a {
      img {
        display: none;
      }
    }

    color: var(--text-color);
  }

  .contextMenuCells { 
    td {
      border-bottom: 1px solid var(--border-color);
      border-left: 1px solid var(--border-color);
    }
  }

  .contextMenuCells:hover {
    background-color: var(--hover);

    td {
      border-left:1px solid transparent;
    }
  }

  .highlight {
    background-color: var(--input-background-color-active);
  }
}
