#hub {

  #filter {
    .navigation-controls-type {
      .navigation-item {
        border-color: var(--border-color);
      }
    }

    .activated {
      color: var(--input-background-color-active-text);
      background-color: var(--input-background-color-active);
    }

    .status-name {
      color: var(--text-color);
      background-color: var(--input-background-color);
      border-color: var(--border-color);
    }

    .switch, .filter-category {
      border-color: var(--border-color);
      color: var(--text-color);
      box-shadow: none;
      background-color: var(--input-background-color);
    }

    .slider:before {
      border-color: var(--border-color);
      background-color: var(--background-panel-color);
    }
  }

  #hub_tabs {
    a:hover,
    .current_hub_category a {
      color: var(--text-color);
    }
  }

  .filter-title {
    color: gray;
  }


  .filter-category-icon {
    margin: 4px;
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
  }


  .source {
    background-image: var(--icon-source);
  }

  .collecting_event {
    background-image: var(--icon-collecting-event);
  }

  .biology {
    background-image: var(--icon-biology);
  }

  .collection_object {
    background-image: var(--icon-collection-object)
  }

  .matrix {
    background-image: var(--icon-matrix);
  }

  .dna {
    background-image: var(--icon-DNA);
  }

  .image {
    background-image: var(--icon-image);
  }

  .taxon_name,
  .nomenclature {
    background-image: var(--icon-new);
  }
}