.theme-dark {
  --color-scheme: dark;
  --background-color: #1c2128;
  --background-panel-color: #2d333b;
  --input-background-color: #1c2128;
  --input-border-color: #444c56;

  --primary-color: #5d99c6;

  --text-color: #adbac7;
  --quick-bar-color: #2d333b;

  --border-color: #444c56;
  --box-shadow-button: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

  --hover: #262626;

  --input-background-color-active: rgba(65, 132, 228, 15%);
  --input-background-color-active-text: #FFFFFF;

  --link-color: #539bf5;

  --table-row-even: #2d333b;
  --table-row-odd: #1c2128;

  --spinner-tail-color: #41BA8D;
  --spinner-left-bottom-color: #00845D;
  --spinner-left-mid-color: #999999;
  --spinner-left-top-color: #c9c9c9;
  --spinner-head-color: #f5f5f5;

  --logo-taxonworks: url('assets/images/logo/taxonworks_logo_full_white.svg');

  --icon-biology: url("assets/images/icons/w_biology.svg");
  --icon-new: url("assets/images/icons/w_new.svg");
  --icon-source: url("assets/images/icons/w_book.svg");
  --icon-matrix: url("assets/images/icons/w_matrix.svg");
  --icon-DNA: url("assets/images/icons/w_helix.svg");
  --icon-collecting-event: url("assets/images/icons/w_geolocation.svg");
  --icon-collection-object: url("assets/images/icons/w_picking.svg");
  --icon-image: url("assets/images/icons/w_image.svg");
  --icon-trash: url("assets/images/icons/w_trash.svg");
  --icon-search: url("assets/images/icons/search.svg");

  --icon-arrow-up: url("assets/images/icons/w_arrow_up.svg");
  --icon-arrow-down: url("assets/images/icons/w_arrow_down.svg");
  --icon-arrow-left: url("assets/images/icons/w_arrow_left.svg");
  --icon-arrow-right: url("assets/images/icons/w_arrow_right.svg");
  --icon-restart: url("assets/images/icons/w_restart.svg");
  --icon-show: url("assets/images/icons/w_show.svg");
  --icon-hide: url("assets/images/icons/w_hide.svg");
  --icon-options: url("assets/images/icons/w_options.svg");
  --icon-folders: url("assets/images/icons/w_folders.svg");
  --icon-data: url("assets/images/icons/w_data.svg");
  --icon-download: url("assets/images/icons/w_download.svg");
  --icon-list: url("assets/images/icons/w_list.svg");
  --icon-open-folder: url("assets/images/icons/w_open_folder.svg");
  --icon-task: url("assets/images/icons/w_task.svg");
  --icon-annotate: url("assets/images/icons/w_annotate.svg");
  --icon-add: url("assets/images/icons/w_add.svg");
  --icon-expand: url("assets/images/icons/w_expand.svg");
  --icon-contract: url("assets/images/icons/w_contract.svg");
  --icon-clone: url("assets/images/icons/w_citation.svg");
  --icon-compare: url("assets/images/icons/w_citation.svg");
  --icon-save-DB: url("assets/images/icons/w_savedb.svg");
  --icon-citation: url("assets/images/icons/w_citation.svg");
  --icon-close: url("assets/images/icons/w_close.svg");
}
