@import '../mixins/themify.scss';

body {
  color-scheme: var(--color-scheme);
  background-color: var(--background-color);
  color: var(--text-color);  
    
  .radial-annotator {
    color: var(--text-color);
  }

  table {
    .even {
      background-color: var(--background-panel-color);
    }

    .contextMenuCells td {
      border-bottom-color: var(--border-color);
      border-left-color: var(--border-color);
    }
  }

  .action-line {
    border-bottom-color: var(--border-color);
  }

  #model_index {
    background-color: var(--background-panel-color);

    font-size: var(--text-sm);
  }

  .navigation-controls {
    .navigation-item {
      border-color: var(--border-color);

      .dropdown {
        background-color: var(--background-panel-color);
      }
    }
    .navigation-item:hover {
      background-color: var(--hover);
    }
  }

  .circle-button {
    box-shadow: var(--box-shadow-button);
  }

  .table-entrys-list li {
    border-top-color: var(--border-color);
  }

  .block-layout {
    &> .header {
      border-bottom-color: var(--border-color);
    }
  }

  .current_hub_category a {
    color: var(--text-color);
  }
  // New taxon name 

  .original-combination {
    .combination {
      background-color: var(--input-background-color);
      color: var(--text-color);
      border-color: var(--border-color);
    }
  }
}
