$tw-whitespace: (
  tiny: 0.25em,
  small: 0.5em,
  default: 1em,
  medium: 1.5em,
  large: 2em
);

:root {
  --space-05: 0.125;

  @for $i from 0 through 12 {
    --space-#{$i}: #{$i * 0.25}rem;
  }
}
